# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# Environment
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Playwright
playwright-report/

# macOS
.DS_Store

# Windows
Thumbs.db