# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/

# Databases
*.db
*.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Playwright
playwright-report/
test-results/

# OS
.DS_Store
Thumbs.db